{% extends "base.html" %} {% block title %}Boggle!{% endblock %} {% block
content %}
<h1>Highscore: {{highscore }}</h1>
<h2>Attempt #: {{attempt}}</h2>
<table>
  <tbody>
    {% for row in board %}
    <tr>
      {% for letter in row %}
      <td>{{ letter }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
<h1 id="score"></h1>
<h1 id="clock"></h1>
<h1 id="message">Please make a guess!</h1>
<form class="active" action="" method="post">
  <input type="text" name="guess" id="guess" placeholder="word" autofocus />
  <input type="submit" value="Submit" />
</form>
{% endblock %}
